.container.mt-4
  .row.g-4
    %section.col-md-8
      - if @cart.cart_items.present?
        -# #TODO - viewにロジックを持ちたくない
        - @cart.cart_items.default_order.preload(product: { image_attachment: :blob }).each do |cart_item|
          .card.mb-3.shadow-sm.border-0
            .row.g-0.align-items-center
              .col-md-3.p-3
                - if cart_item.product.image.attached?
                  = image_tag(cart_item.product.image.variant(:thumbnail), class: 'img-fluid rounded', alt: "#{cart_item.product.name} の表紙")
                - else
                  = image_tag 'no_image.png', class: 'img-fluid rounded', alt: '画像なし'
              .col-md-9
                .card-body.d-flex.flex-column
                  %h2.card-title
                    = link_to cart_item.product.name, product_path(cart_item.product), class: 'text-decoration-none text-dark'
                  %p.card-text.mt-2
                    %span.text-dark #{cart_item.product.price_with_tax.format} (税込)
                  = button_to '削除', cart_cart_item_path(cart_item), method: :delete, class: 'btn text-primary', data: { turbo_confirm: 'カートから削除しますか？' }

      - else
        .text-center.py-5.mx-auto.col-md-10
          %i.bi.bi-cart.fs-1.text-muted.mb-3.d-block
          %h2 カートに商品が入っていません
          %p.text-muted 商品を追加してお買い物をお楽しみください
          = link_to '商品一覧へ', root_path, class: 'btn btn-primary'

    - if @cart.cart_items.eager_load(:product).present?
      %section.col-md-4
        .card.shadow-sm.border-0.p-3
          .d-flex.align-items-center.justify-content-between.w-100.border-bottom.pb-2
            .fw-bold 合計:
            -# #TODO - 税金計算は後で実装
            %span= @cart.total_price.format
          = button_to orders_path, class: 'btn btn-primary btn-lg w-100 rounded-3 shadow-sm mt-3', data: { turbo_confirm: '注文を確定してもよろしいですか?' } do
            %i.bi.bi-cart-check.me-2
            %span 購入する
