= simple_form_for([shipping_address]) do |form|
  = form.input :recipient_name, required: true, input_html: { autocomplete: 'recipient_name' }
  = form.input :postal_code, required: true, input_html: { autocomplete: 'postal_code' }
  = form.input :prefecture_id, collection: Prefecture.all.map { |p| [p.name, p.id] }, prompt: '選択してください'
  = form.input :city, required: true, input_html: { autocomplete: 'address' }
  = form.input :street_address, required: true, input_html: { autocomplete: 'address', placeholder: '例: ○○○マンション101号' }
  = form.submit class: 'btn btn-primary'
