- if @product.image.attached?
  = image_tag @product.image.variant(:thumbnail), class: 'card-img-top img-fit-contain'
- else
  = image_tag 'no_image.png', class: 'card-img-top bg-light img-fit-contain'

%span= @product.name
%span= @product.price.format

%div= @product.description
- if user_signed_in?
  = button_to 'カートに追加', cart_cart_items_path(product_id: @product.id), class: 'btn btn-primary'
